/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.section{
	position:relative;
	width:100%;
	height:100vh;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	overflow:hidden;

}
.section__greet{
	position:absolute;
	font-family: 'Island_Moments',cursive;
	text-align:center;
	background-color:#fff;
	padding:20px;
	margin:15px;
	z-index: 1;
	color:red;
	opacity:0.3;

}
.section__title{
	position:absolute;
	top:20px;
	left:20px;
	font-size:3rem;
	color:#357b70;
}
.navigation{
	position:absolute;
	z-index: 1;
	bottom: 20px;
	width:800px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.navigation li{
	list-style-type:none;
}
.navigation__item{
display:inline;
margin-left:30px;
text-decoration:none;
background-color:#357b70;
padding:5px;
color:#fff;
border-radius:8px;
}
.navigation__item:hover{
	opacity:0.5;
	-webkit-transition:2s;
	-o-transition:2s;
	transition:2s;
}
body{
	margin:0;
	padding:0;
}
.slide-container{
	position:relative;
	width:250px;
	height:300px;
	margin-top:30px;
	margin-left:5%;
	overflow:hidden;


}
.image-container{
	position:relative;
	width:1250px;
	height:300px;
	-o-transition:left 2s;
	transition:left 2s;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
}
.slider-image{
	float:left;
	margin:0;
	padding:0;
}
.button-container{
 top:-35px;
position:relative;
}

.slider-button{
	display:inline-block;
	width:20px;
	height:10px;
	border-radius:5px;
	background-color: #357b70;
	text-align:center;
	-ms-flex-line-pack:center;
	    align-content:center;
	-webkit-box-pack:center center;
	    -ms-flex-pack:center center;
	        justify-content:center center;
	font-size:14px;
	padding:10px;
	text-decoration:none;
	color: #fff;
}
.slider-button:active{
	background-color:red;


}
#slider-image-1:target ~ .image-container{
	left:0;
}

#slider-image-2:target ~ .image-container{
    left:-250px;
}
#slider-image-3:target ~ .image-container{
	left:-500px;
}
#slider-image-4:target ~ .image-container{
	left:-750px;
}
#slider-image-5:target ~ .image-container{
	left:-1000px;
}
#text-container{
	clear:both;
	position:absolute;
	top:30px;
	left:350px;
	width:1000px;
	height:300px;
	padding:10px;
	border:5px solid blue;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
}
#text-container h1{
	text-align:center;
}
.image-collection{
	position:relative;
	margin-top:30px;
	margin-left:50px;
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:150px 10px 150px;
	grid-template-columns:150px 150px;
	-ms-grid-rows:150px 10px 150px 10px 150px 10px 150px;
	grid-template-rows:150px 150px 150px 150px;
    grid-gap:10px;

}
.image-collection > *:nth-child(1){
	-ms-grid-row:1;
	-ms-grid-column:1;

}
.image-collection > *:nth-child(2){
	-ms-grid-row:1;
	-ms-grid-column:3;

}
.image-collection > *:nth-child(3){
	-ms-grid-row:3;
	-ms-grid-column:1;

}
.image-collection > *:nth-child(4){
	-ms-grid-row:3;
	-ms-grid-column:3;

}
.image-collection > *:nth-child(5){
	-ms-grid-row:5;
	-ms-grid-column:1;

}
.image-collection > *:nth-child(6){
	-ms-grid-row:5;
	-ms-grid-column:3;

}
.image-collection > *:nth-child(7){
	-ms-grid-row:7;
	-ms-grid-column:1;

}
.image-collection > *:nth-child(8){
	-ms-grid-row:7;
	-ms-grid-column:3;

}
.grid-collection__item{
	background-color:lightgrey;
}
table,th,td{
	position:relative;
	border:1px solid black;
    
    width:700px;
    padding:5px;
}
th,td{
	border:1px solid black;
    
	text-align:left;
}

.table-container{
	position:absolute;
	margin-left:400px;
	margin-top:-780px;
}
#ethnic-group{
	line-height:4;
	margin-left:5px;
	margin-top:3px;
	background-color:lightgrey;
}
.table-item{
	text-align:center;
	background-color:lightgrey;
}
.thead-item{
	background-color:limegreen;
}
#middle-cell{
	background-color:lightgrey;
}
.table-container h2{
	text-align:center;
	padding:10px;
	text-decoration:underline;
}
.table-flag{
	position:relative;
	
	height:10px;
	width:50px;
}
.box-container{
	position:relative;
	width:300px;
	height:150px;
	border:2px solid blue;
	margin-top:20px;
	margin-left:50px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-line-pack:center;
	    align-content:center;

}
.box-image{
	margin:0;
	padding:0;
	opacity:0.5;
}
.box-container__item{
	position:absolute;
	top:10%;
	left:10px;
	opacity:0.2;
	
}
@-webkit-keyframes aeroplane-moved {
	from { -webkit-transform:translateX(); transform:translateX();
	}
	to { -webkit-transform:translateX(200px); transform:translateX(200px);
	}
}
@keyframes aeroplane-moved {
	from { -webkit-transform:translateX(); transform:translateX();
	}
	to { -webkit-transform:translateX(200px); transform:translateX(200px);
	}
}
.box-container__item {
	-webkit-animation-name:aeroplane-moved;
	        animation-name:aeroplane-moved;
	-webkit-animation-direction:alternate;
	        animation-direction:alternate;
	-webkit-animation-iteration-count:infinite;
	        animation-iteration-count:infinite;
	-webkit-animation-duration:7s;
	        animation-duration:7s;
	-webkit-animation-timing-function:linear;
	        animation-timing-function:linear;

}
.destination-body{
	margin:0;
	padding:0;

}
.booking{
	position:relative;
	width:400px;
	height:500px;
	border:1px solid black;
	left:60%;
	margin-top:5px;
	padding:10px;
}
.form-title{
	position:relative;
	width:150px;
	height:20px;
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex;
	text-align:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	left:60%;
	margin-top:95px;
}
.title-box{
	position:relative;
	margin-top:10px;
	left:130px;

}
.name-container{
	position:relative;
	left:20%;
}
.input-label{
	position:relative;
	text-align:left;

}
.input-container{
	margin-top:30px;
}
.projector{
	position:relative;
	width:300px;
	height:250px;
	overflow:hidden;
}
.projector-img{
	float:left;
	padding:0;
	margin:0;
}
.picture-container{
	position:relative;
	width:1500px;
	height:250px;
	-webkit-transition:left 2s;
	-o-transition:left 2s;
	transition:left 2s;
	
}
.projector-navigator{
	top:-35px;
	position:relative;
}
.projector__button{
	display:inline-block;
	width:20px;
	height:20px;
	background-color:red;
	border-radius:5px;
}

#projector-img1:target ~ .picture-container{
	left:0;
}
#projector-img2:target ~ .picture-container{
	left:-300px;
}
#projector-img3:target ~ .picture-container{
	left:-600px;
}
#projector-img4:target ~ .picture-container{
	left:-900px;
}
#projector-img5:target ~ .picture-container{
	left:-1200px;
}
.projector-wrapper{
	position:absolute;
	top:150px;
	left:50px;
}


@media all and (max-width: 500px) {
	.navigation{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.navigation li{
		margin-left: 5px;
		display: inline-flex;
	}
	.navigation__item{
		margin-left: 5px;
	}
	.destination-body{
		display: flex;
		flex-direction: column;
	}
	.booking{
		display: block;
	}
	.projector-wrapper{
		display: inline-block;
	}
}